.catalog {
  padding: 30px;

  @media (min-width: $tablet-width) {
    padding: 79px 50px 53px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 128px 50px 57px 50px;
  }
}

.catalog__list {
  @include flex(column);
  gap: 54px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.catalog__item {
  @media (min-width: 650px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content;
  }

  &:hover {
    .catalog__product-wrapper {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &:active {
    .catalog__product-wrapper {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.catalog__product-link {
  display: block;
  margin: 0 0 5px 0;
  color: $main-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &--extended {
    margin: -3px 0 5px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__product-features {
  @include flex();
  gap: 3px;
  margin: 0;
  padding: 0 0 17px 0;
  color: $secondary-color;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.catalog__product-definition {
  margin: 0;
}

.catalog__product-price {
  display: block;
  padding: 23px 0 0 0;
  color: $main-color;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  border-top: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    font-size: 17px;
  }
}

.catalog__image {
  display: block;
  width: 100%;
}

.catalog__product-wrapper {
  padding: 27px;
  border: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    @include flex(column);
    padding: 27px 34px 26px 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 32px 26px 28px;
  }
}
