.checkbox-list__text {
  display: block;
  padding: 10px 0 10px 61px;
  color: $main-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}
