.control__outline {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: 2px solid $secondary-color;

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }
}
