.copyright {
  @include flex(row, normal, center);
  position: relative;
  margin: 22px auto 0 auto;
  display: block;
  max-width: 182px;
  min-height: 35px;
  padding: 0 55px 0 0;
  color: $main-color;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 55px 7px 0;
    justify-self: end;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 27px;
    height: 35px;
    mask-image: url("../img/stack.svg#icon-html-academy");
    background-color: $additional-color;
    transition: 0.3s ease-in;

    @media (min-width: $tablet-width) {
      top: -3px;
    }
  }

  &:hover::after {
    background-color: #46c1ae;
  }

  &:active::after {
    opacity: 0.3;
    transition: 0.3s ease-in;
  }
}
