.field {
  border: none;
  border-bottom: 2px solid $main-color;
  padding: 16px;
  color: $secondary-color;
  background-color: transparent;
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 19px;
  line-height: 18px;
  transition: 0.3s ease-in-out;

  &::placeholder {
    font-family: "Open Sans", "Tahoma", sans-serif;
    color: $main-color;
    opacity: 0.3;
    font-size: 17px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      font-size: 19px;
    }
  }

  &:hover {
    border-color: $additional-color;
    transition: 0.3s ease-in-out;
  }

  &:focus-within {
    outline: none;
    border-color: $additional-color;
    transition: 0.3s ease-in;
  }
}
