.header {
  @include flex(row, normal, center);
  position: relative;
  flex-wrap: wrap;
  min-height: 79px;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.header__logo-link {
  padding: 22px 0;
  margin-left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    margin: 0;
    position: absolute;
    top: 0;
    left: 50px;
    transform: none;
  }
}

.header__logo-img {
  display: block;
  object-fit: cover;
}
