.header {
  @include flex(row, normal, center);
  position: relative;
  flex-wrap: wrap;
  min-height: 79px;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.header__logo-link {
  padding: 22px 0;
  margin-left: 50%;
  transform: translateX(-50%);
  transition: 0.3s linear;

  @media (min-width: $tablet-width) {
    margin: 0;
    position: absolute;
    top: 0;
    left: 48px;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    left: 50%;
    transform: translateX(-50%);
    padding: 9px 0 7px 0;
  }

  &:hover {
    opacity: 0.6;
    transition: 0.3s linear;
  }

  &:active {
    opacity: 0.3;
    transition: 0.3s linear;
  }
}

.header__logo-img {
  display: block;
  object-fit: cover;
}
