.hero {
  background-color: #f9f9f9;
  background-image: url("../img/index/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/hero-background@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    position: relative;
    background-image: url("../img/index/hero-background-tablet.jpg");
    background-position: center -88px;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/hero-background-tablet@2x.jpg");
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      bottom: 0;
      left: 0;
      background-image: url("../img/stack.svg#hero-divider-tablet");
      background-repeat: repeat no-repeat;
      background-size: 770px 24px;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/index/hero-background-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/hero-background-desktop@2x.jpg");
    }

    &::after {
      background-image: url("../img/stack.svg#hero-divider-desktop");
      background-repeat: repeat no-repeat;
      background-size: 1150px 34px;
      height: 34px;
      bottom: -5px;
    }
  }

  @media (min-width: 1170px) {
    background-size: contain;
  }

  &--additional {
    background-color: #f1f1f1;
    background-image: none;
    padding: 74px 22px;

    .hero__title {
      padding: 0;
    }

    @media (min-width: $tablet-width) {
      padding: 14px 22px 86px 22px;
    }

    @media (min-width: $desktop-width) {
      padding: 14px 22px 102px 22px;
    }
  }
}

.hero__title {
  margin: 0;
  padding: 73px 30px 120px 30px;
  color: $main-color;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding: 67px 50px 372px 50px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 50px 355px 50px;
    font-size: 53px;
    line-height: 57px;
  }
}

.hero__list {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100% - 100px);
  }
}

.hero__item {
  background-color: $additional-color;
  transition: 0.5s linear;

  &:hover {
    transform: translateY(-5px);
    transition: 0.5s linear;
    background-color: #59d5bc;

    @media (min-width: $tablet-width) {
      border-radius: 5px;
    }

    .hero__link {
      transform: translateY(-5px);
      transition: 0.5s linear;
    }
  }

  &:nth-child(2n) {
    background-color: #56c3b2;

    &:hover {
      background-color: #46c1ae;
    }
  }
}

.hero__link {
  display: block;
  padding: 24px 30px 31px 30px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding: 25px 36px 46px 36px;
    font-size: 20px;
    line-height: 30px;
  }

  &--interior {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 62px;
      top: 23px;
      right: 36px;
      background-image: url("../img/stack.svg#icon-interior");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        top: 30px;
      }
    }
  }

  &--toys {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      top: 21px;
      right: 27px;
      background-image: url("../img/stack.svg#icon-toy");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        top: 32px;
        right: 34px;
      }
    }
  }
}
