.knitted-baskets {
  padding: 31px 30px 43px 30px;
  background-image: url("../img/stack.svg#divider");
  background-repeat: repeat no-repeat;
  background-position: bottom;
  background-size: 320px 6px;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    padding: 40px 50px 69px 50px;
    background-image: url("../img/stack.svg#divider-tablet");
    background-size: 772px 17px;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 0 73px 174px;
    background-image: url("../img/stack.svg#divider-desktop");
    background-size: 1050px 23px;
    background-repeat: no-repeat;
  }
}

.knitted-baskets__title {
  position: relative;
  margin: 0 0 18px 0;
  padding: 0 0 24px 0;

  &::before {
    content: "Товар Недели";
    position: absolute;
    width: 163px;
    height: 20px;
    bottom: 0;
    left: 0;
    color: $additional-color;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      width: 100px;
      height: max-content;
      padding: 7px 0 10px;
      text-align: center;
      top: -2px;
      right: 13px;
      left: auto;
      bottom: auto;
    }

    @media (min-width: $desktop-width) {
      top: 40%;
      right: auto;
      left: -143px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1;
    margin: 0 0 50px 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 0 0 0;
  }
}

.knitted-baskets__promo-text {
  display: block;
  margin: 0 0 18px 0;
  color: $additional-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 100px;
    text-align: center;
    margin: 0;
    line-height: 17px;
  }
}

.knitted-baskets__description {
  margin: 0 0 28px 0;
  color: $secondary-color;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin: -12px 0 0 0;
    padding: 0 42px 18px 0;
    grid-column: 1;
    grid-row: 2;
    font-size: 17px;
    line-height: 30px;
  }
}

.knitted-baskets__features {
  margin: 0 0 28px 0;
  display: grid;
  grid-template-columns: 38% 1fr;
  gap: 7px 0;
  color: $secondary-color;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 42px 0 0;
    grid-template-columns: 33% 1fr;
    align-self: start;
    grid-column: 1;
    grid-row: 3;
  }
}

.knitted-baskets__term {
  padding: 0 0 12px 0;
  border-bottom: 1px solid #ececec;
}

.knitted-baskets__definition {
  margin: 0;
  border-bottom: 1px solid #ececec;
}

.knitted-baskets__image-wrapper {
  margin: 0 0 26px 0;

  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row: 2 / -1;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
  }
}

.knitted-baskets__image {
  display: block;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: auto;
    max-width: none;
  }
}

.knitted-baskets__order-wrapper {
  @include flex(column, space-between);

  @media (min-width: $tablet-width) {
    margin-top: auto;
    padding: 0 42px 0 0;
    gap: 32px;
  }
}

.knitted-baskets__price {
  margin: 0 0 22px 0;
  display: block;
  color: $secondary-color;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
  }
}

.knitted-baskets__order-button {
  display: block;
  width: 100%;
  padding: 14px;
  border: 2px solid $secondary-color;
  color: $secondary-color;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  transition: 0.4s ease-in;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    width: initial;
    min-width: 292px;
    align-self: center;
  }

  &:hover {
    background-color: $secondary-color;
    color: #ffffff;
    transition: 0.4s ease-in;
  }

  &:active {
    color: #7c7c7c;
    transition: 0.4s ease-in;
  }

  &:focus-visible {
    outline: 3px solid $main-color;
    outline-offset: 4px;
  }
}
