.modal {
  /* display: none; */
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.modal__control {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: 1px solid #c6c6c6;
  cursor: default;
}

.modal__add-to-cart {
  width: 320px;
  padding: 29px 30px 46px 30px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 566px;
    padding: 38px 92px 46px 92px;
  }
}

.modal__title {
  margin: 0 0 14px 0;
  color: $main-color;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 11px 0;
    font-size: 30px;
    line-height: 57px;
  }
}

.modal__text {
  margin: 0 0 22px 0;
  color: $secondary-color;
  text-align: center;
  font-size: 17px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px 0;
    font-size: 17px;
  }
}

.modal__list {
  margin: 0 0 31px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
  justify-items: center;
}

.modal__size-button {
  border: 2px solid rgba(68, 68, 68, 0.1);
  padding: 18px 34px;
  color: $secondary-color;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  &--active {
    border-color: $additional-color;
  }

  @media (min-width: $tablet-width) {
    padding: 18px 53px;
  }
}

.modal__add-button {
  width: 100%;
  padding: 16px;
}
