.page {
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-weight: 400;
}

.page__form {
  padding: 17px 30px 55px 30px;

  @media (min-width: $tablet-width) {
    padding: 66px 0 50px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 115px 0 50px 0;
  }
}

.page__product-of-week {
  @media (min-width: $tablet-width) {
    @include flex(row, space-between, center);
    margin: 0 0 50px 0;
    grid-column: 1 / -1;
  }
}
