.radio-list__text {
  padding: 5px 0 1px 61px;
  color: $main-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  @media (min-width: 347px) {
    padding: 13px 0 13px 61px;
  }

  @media (min-width: $tablet-width) {
    padding: 17px 0 17px 78px;
    font-size: 19px;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 0 17px 79px;
  }

  &--size {
    padding: 12px 0 12px 61px;

    @media (min-width: $tablet-width) {
      padding: 17px 0 17px 78px;
    }

    @media (min-width: $desktop-width) {
      padding: 17px 0 17px 79px;
    }
  }
}

.radio-list__control {
  @include flex();
  position: relative;
  cursor: pointer;
}

.radio-list__field + .radio-list__control-outline {
  border-radius: 50%;
  width: 42px;
  height: 42px;

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.radio-list__field:checked + .radio-list__control-outline::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: $additional-color;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.radio-list__field:hover + .radio-list__control-outline {
  border-color: $additional-color;
}

.radio-list__field:active + .radio-list__control-outline {
  border-color: #b3b3b3;
}

.radio-list__field:focus-visible + .radio-list__control-outline {
  outline: 2px solid $main-color;
  outline-offset: 4px;
}

.radio-list__field:disabled ~ .radio-list__text,
.radio-list__field:disabled ~ .radio-list__control-outline {
  opacity: 0.2;
}
