.radio-list__text {
  padding: 0 0 0 61px;
  color: $main-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.radio-list__control {
  @include flex();
}
