.title {
  margin: 0;
  color: $main-color;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
