.user-emotions-field {
  width: 100%;
  margin: 23px auto 17px auto;
  display: block;
  border: 2px solid $secondary-color;
  padding: 17px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}
